Source: crunch
Section: net
Priority: extra
Maintainer: dookie <dookie@kali.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://sourceforge.net/projects/crunch-wordlist/
Vcs-Git: ssh://git@git.kali.org/packages/crunch.git
Vcs-Browser: http://git.kali.org/gitweb/?p=packages/crunch.git;a=summary

Package: crunch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Password wordlist generator
 Crunch can create a wordlist based on criteria you specify.
 The outout from crunch can be sent to the screen, file, or 
 to another program.
